/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='text'],
input[type='search'] {
    -webkit-appearance: none;
            appearance: none;
}
select {
    -webkit-appearance: none;
            appearance: none;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
}

/* 
 -- claer float --
 -- 清楚浮动 --
 */
.clearfix:after {
    content: " "; 
    display: block; 
    height: 0; 
    overflow: hidden;
    visibility: hidden; 
    clear: both; }
.clearfix { 
    *zoom: 1; 
}
body {
    width: 7.5rem;
    max-width: 1080px;
    margin: 0 auto;
    font-size: .28rem;
    background-color: #f9f9f9;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
    width: 100%;
    /*max-height: 100%;*/
    height: 100%;
}
.more {
    float: right;
    font-size: .28rem;
    color: #999;
}
.more a {
    color: #999;
}

/*
 * -- home page --
 */
.main-nav {
    margin: .3rem .15rem 0 .15rem;
}
.topnav-list {
    margin-bottom: .1rem;
    text-align: center;
}
.topnav-item,
.topnav-sub {
    float: left;
    display: inline-block;
    vertical-align: top;
}
.topnav-item {
    width: 2.4rem;
    height: 1.94rem;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.topnav-item-text,
.topnav-sub-item {
    font-size: .32rem;
}
.topnav-item-text {
    color: #fff;
    padding: .3rem 0; 
}
.topnav-item-img {
    display: inline-block;
    width: .76rem;
    height: .69rem;
}

.topnav-sub {
    width: 4.8rem;
    color: #fff;
}
.topnav-sub-item {
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 2.4rem;
    height: .97rem;
    padding: .3rem 0;
    color: #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.net-farm .topnav-item,
.net-farm .topnav-sub-item {
    background-color: #02cc82;
}
.tour-holiday .topnav-item,
.tour-holiday .topnav-sub-item {
    background-color: #f94d61;
}
.info-gallery .topnav-item,
.info-gallery .topnav-sub-item {
    background-color: #14a7ea;    
}
.info-gallery {
    margin-bottom: 0;
}
.main-list-item {
    margin-top: .3rem;
    padding: .3rem;
    background-color: #fff;
}
.main-full-list-item {
    /*margin-top: .3rem;*/
    padding-top: .3rem;
}
.main-full-list-item .title {
    margin: 0 .3rem;
}
.net-farm-title-icon,
.info-gallery-title-icon,
.tour-holiday-title-icon,
.main-full-title-icon,
.main-position-icon,
.search-area-icon {
    display: inline-block;
    vertical-align: middle;
    width: .32rem;
    height: .32rem;
    background: url('../imgs/icons/icon.png') no-repeat;
    background-size: 1.46rem .68rem;
}
.net-farm-title-icon {
    background-position: 0 0;
}
.info-gallery-title-icon {
    background-position: -.39rem 0;
}
.tour-holiday-title-icon {
    background-position: -.78rem 0;
}
.main-full-title-icon {
    background-position: -1.16rem 0;
}
.main-position-icon {
    background-position: 0 -.39rem;
}
.search-area-icon {
    position: absolute;
    top: 0;
    left: .15rem;
    bottom: 0;
    margin: auto;
    background-position: -.76rem -.37rem;
    /*background-position: -.37rem -.37rem; */
}
.title h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: .32rem;
    color: #090909;
}
.net-farm-item-wrap {
    float: left;
    margin-top: .3rem;
    width: 1.725rem;
    text-align: center;
}
.net-farm-item-wrap .item-img {
    padding: .225rem .325rem;
    width: 1.725rem;
    height: 1.525rem;
    line-height: 1.525rem;
}
.net-farm-item-wrap .item-text {
    font-size: .32rem;
    color: #666;
}
.info-gallery-item-wrap {
    margin-top: .3rem;
    border-radius: 5px;
    overflow: hidden;
}
.tour-holiday-items {
    width: 6.9rem;
    margin-top: .3rem;
}
.tour-holiday-item-left,
.tour-holiday-item-right {
    float: left;
    height: 4.73rem;
}
.tour-holiday-item-left {
    width: 4.35rem;
}
.tour-holiday-item-right {
    width: 2.55rem;
    padding-left: .15rem;
}
.item-img-wrap {
    position: relative;
}
.tour-holiday-item-left .item-img-wrap {
    width: 100%;
    height: 100%;
}
.tour-holiday-item-right .item-img-wrap {
    width: 100%;
    height: 2.315rem;
}
.item-img-wrap:not(:last-child) {
    margin-bottom: .1rem;
}
.img-shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .86rem;
    line-height: .86rem;
    color: #fff;
    text-align: center;
    font-size: .3rem;
    background-color: rgba(0, 0, 0, .5);
}
.img-text-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-size: .26rem;
    background-color: rgba(0, 0, 0, .5);
}
.img-text-shadow span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1em;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.town-hall-item {
    height: 4.08rem;
}
.town-hall-slide-item {
    text-align: center;
    font-size: .4rem;
    line-height: .58rem;
}
.town-hall-img-wrap {
    width: 7.5rem;
    height: 3.5rem;
    margin: 0 auto;
}
.town-hall-item a {
    color: #090909;
}

/*
 * -- nearly page --
 */

.main-full-wrap {
    width: 7.5rem;
    margin-top: .3rem;
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
}
.full-item-wrap {
    position: relative;
    margin-right: .2rem;
    display: inline-block;
}
.full-item-wrap:first-child {
    margin-left: .2rem;
}
.full-item-img-wrap {    
    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    overflow: hidden;
}
.full-item-text-wrap {
    font-size: .3rem;
    line-height: .88rem;
    color: #090909;
}
.full-item-name {
    display: inline-block;
}
.full-item-distance {
    float: right;
    color: #999;
}
.other-items {
    margin-top: .3rem;
    background-color: #fff;
}
.other-items .hd {
    font-size: .28rem;
    color: #666;
    height: .8rem;
    line-height: .8rem;
}
.other-items .hd li {
    float: left;
    width: 50%;
    text-align: center;
}
.other-items .hd ul .on {
    font-size: .3rem;
    color: #090909;
}
.other-items .bd li {
    border-top: 1px solid #dcdcdc;
    padding: .3rem;
    font-size: 0;
}
.other-item-img-wrap,
.other-item-desc {
    display: inline-block;
    vertical-align: top;
}
.other-item-img-wrap {
    width: 2.4rem;
    height: 2.3rem;
}
.other-item-desc {
    width: 4.5rem;
    padding: .3rem 0 0 .2rem;
}
.other-item-title {
    line-height: .36rem;
    font-size: .28rem;
}
.other-item-name {
    display: inline-block;
    color: #090909;
}
.other-item-price {
    font-size: .26rem;
    float: right;
    color: #ed3b5a;
}
.other-item-detail-desc {
    line-height: .38rem;
    font-size: .24rem;
    color: #666;
}
.go-there {
    margin: .3rem 0;
    background-color: #68ceb7;
    border: none; 
    text-align: center;
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    color: #fff;
}
.go-there-img-wrap {
    display: inline-block;
    vertical-align: text-top;
    width: .3rem;
    height: .3rem;
    margin-right: .3rem;
}

/*
 * -- find page --
 */
#banner {
    position: relative;
}
#banner .hd {
    position: absolute;
    bottom: .3rem;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
}
#banner .hd ul {
    display: inline-block;
}
#banner .hd li {
    float: left;
    width: .12rem;
    height: .12rem;
    margin-right: .06rem;
    border-radius: 50%;
    background-color: #fff;
}
#banner .hd li:last-child {
    margin-right: 0;
}
#banner .hd .on {
    width: .3rem;
    border-radius: .1rem;
}
#banner .bd li {
    height: 4rem;
}

.new-hot-collect {
    margin-top: .3rem;
}
.new-hot-collect .head {
    background-color: #fff;
}
.new-hot-collect .head li {
    float: left;
    width: 2.5rem;
    padding: .1rem 0 .08rem 0;
    font-size: .32rem;
    text-align: center;
}
.new-hot-collect .head li span {
    display: inline-block;
    color: #090909;
    line-height: .7rem;
    border-bottom: 2px solid #fff;
}
.new-hot-collect .head .on span {
    color: #00b38a;
    border-bottom: 2px solid #00b38a;
}
.new-list-items {
    margin-top: .3rem;
    font-size: 0;
}
.new-item-wrap {
    display: inline-block;
    vertical-align: top;
    width: 3.3rem;
    margin: .3rem .3rem;
    background-color: #fff;
}
.new-item-wrap:nth-child(2n) {
    margin-left: 0;
}
.new-item-img-wrap {
    margin-bottom: .15rem;
    height: 3.3rem;
}
.new-item-desc,
.new-item-author {
    margin: .15rem .2rem;
}
.new-item-text {
    font-size: .26rem;
    line-height: .54rem;
}
.new-item-name {
    display: inline-block;
    color: #090909;
}
.new-item-price {
    font-size: .26rem;
    float: right;
    color: #ed3b5a;
}
.new-item-detail-desc {
    font-size: .22rem;
    line-height: .3rem;
    color: #666;
    height: .6rem;
    overflow: hidden;
}
.new-item-author {
    font-size: 0;
}
.new-item-author-img,
.new-item-author-name {
    display: inline-block;
    vertical-align: middle;
    font-size: .26rem;
}
.new-item-author-img {
    width: .45rem;
    height: .45rem;
    margin-right: .15rem;
    border-radius: 50%;
    overflow: hidden;
}
.new-item-collect {
    float: right;
    font-size: .26rem;
    margin-bottom: .3rem;
}
.new-item-collect-img,
.new-item-collect-count {
    display: inline-block;
    vertical-align: middle;
}
.new-item-collect-img {
    width: .32rem;
    height: .32rem;
}
.new-item-collect-count {
    color: #999;
    font-size: .26rem;
}
.collect-list-items {
    padding-top: .3rem;
}
.collect-item-wrap {
    padding: .3rem;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    font-size: 0;
}
.collect-item-img-wrap,
.collect-item-desc {
    display: inline-block;
    vertical-align: top;
    height: 2.3rem;
}
.collect-item-img-wrap {
    width: 2.4rem;
}
.collect-item-desc {
    position: relative;
    margin-left: .3rem;
    width: 4.2rem;
}
.collect-item-text {
    font-size: .32rem;
    line-height: .5rem;
}
.collect-item-name {
    display: inline-block;
    color: #090909;
}
.collect-item-price {
    font-size: .26rem;
    float: right;
    color: #ed3b5a;
}
.collect-item-detail-desc p {
    font-size: .24rem;
    line-height: .32rem;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.collect-item-operate {
    margin-top: .2rem;
    font-size: .24rem;
    line-height: .6rem;
}
.collect-item-contact {
    display: inline-block;
    width: 2.4rem;
    height: .6rem;
    background-color: #68ceb7;
    color: #fff;
    text-align: center;
}
.collect-item-cancel {
    float: right;
    color: #68ceb7;
}
/*
 * -- new && hot && collect of find page -- start --
 */
.NHC {
    /*display: none;*/
}
.NHC .hd {
    margin: .3rem .3rem 0 .3rem;
    font-size: 0;
}
.NHC .hd li {
    display: inline-block;
    width: 1.61rem;
    height: .56rem;
    line-height: .56rem;
    background-color: #fff;
    border-radius: .5rem;
    border: 1px solid #dcdcdc;

    font-size: .28rem;
    color: #999;
    text-align: center;
}
.NHC .hd li:not(:last-child) {
    margin-right: .15rem;
}
.NHC .hd .on {
    color: #fff;
    background-color: #00b38a;
    border: none;
}
/*
 * -- new && hot && collect of find page -- end --
 */

/*
 * -- tour && goods detail page -- start --
 */
.main-summary {
    padding: .15rem .3rem .3rem;
    background-color: #fff;
}
.main-summary-text {
    font-size: .32rem;
    line-height: .6rem;
}
.main-summary-name {
    display: inline-block;
    color: #090909;
}
.main-summary-price {
    font-size: .26rem;
    float: right;
    color: #ed3b5a;
}
.main-summary-desc {
    line-height: .32rem;
    font-size: .24rem;
    color: #999;
}
.collect-cancel-btn {
    float: right;
    color: #00b38a;
    font-size: .26rem;
}
.main-detail,
.main-position {
    margin-top: .3rem;
    padding: .3rem;
    background-color: #fff;
}
#position {
    width: 6.9rem;
    height: 3.25rem;
    margin-top: .3rem;
}
.main-detail-title {
    position: relative;
    font-size: .32rem;
    color: #68ceb7;
}
.main-detail-title:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -.3rem;
    width: .15rem;
    height: .3rem;
    background-color: #68ceb7;
}
.main-detail-desc {
    margin-top: .3rem;
    font-size: .24rem;
    line-height: .4rem;
    color: #999;
}
.main-position {
    color: #999;
}
.main-full-center-text {
    text-align: center;
    font-size: .34rem;
    color: #090909;
}
.main-full-list-item .new-item-wrap {
    margin-top: 0;
}
.raty-list-item {
    padding: .3rem 0;
    font-size: 0;
    border-bottom: 1px solid #dcdcdc;
}
.raty-content img,
.raty-submit-count img {
    width: 16px;
    height: 16px;
}
.raty-author-img,
.raty-author-desc {
    display: inline-block;
    vertical-align: middle;
}
.raty-author-img {
    width: .65rem;
    border-radius: 50%;
    overflow: hidden;
}
.raty-author-desc {
    width: 6rem;
    margin-left: .25rem;
}
.raty-author-name {
    font-size: .24rem;
    line-height: .42rem;
}
.raty-content {
    display: inline-block;
}
.raty-content-date {
    float: right;
    font-size: .22rem;
    color: #999;
}
.raty-submit-wrap {
    margin-top: .2rem;
    line-height: .42rem;
    font-size: .24rem;
    color: #666;
}
.raty-submit-title {
    margin-right: .2rem;
}
.raty-submit-button {
    width: 2rem;
    height: .6rem;
    margin-top: .1rem;
    border: none;
    border-radius: 0;
    background-color: #68ceb7;
    font-size: .24rem;
    color: #fff;
}
/*
 * -- tour && goods detail page -- end --
 */

/*
 * -- market && market detail page -- satrt --
 */
.search-area-wrap {
    padding: .2rem .3rem;
    background-color: #fff;
    font-size: 0;
}
.search-area-title,
.search-area-inp-wrap,
.mobile-select-style {
    display: inline-block;
    vertical-align: middle;
}
.search-area-title {
    margin-right: .3rem;
    line-height: .5rem;
    font-size: .32rem;
    color: #090909;
}
.search-area-inp-wrap {
    position: relative;
}
.search-area-inp {
    width: 5.2rem;
    height: .5rem;
    font-size: .26rem;
    padding-left: .5rem;
    border: none;
    color: #090909;
    border-radius: 5px;
    background-color: #dcdcdc;
}
.market-list-wrap {
    font-size: 0;
    margin-top: .3rem;
}
.market-list-item-warp {
    display: inline-block;
    width: 3.3rem;
    text-align: center;
    background-color: #fff;
    margin: 0 .3rem .3rem .3rem;
    padding-bottom: .3rem;
}
.market-list-item-warp:nth-child(2n) {
    margin-left: 0;
}
.market-item-img-wrap {
    width: 3.3rem;
    height: 3.3rem;
    margin-bottom: .3rem;
}
.market-item-text {
    font-size: .26rem;
    color: #090909;
}
.main-detail .search-area-wrap {
    padding: 0;
    margin: .3rem 0;
}
.main-detail .search-area-wrap .search-area-inp {
    width: 3.5rem;
}
.search-area-date {
    height: .5rem;
    padding-right: .3rem;
    padding-left: 1em;
    font-size: .26rem;
    border: none;
    /*background-color: #fff;*/
}
.search-area-wrap .search-area-inp-wrap + .mobile-select-style {
    float: right;
}
.mobile-select-style {
    position: relative;
}
.mobile-select-style:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: .05rem;
    bottom: 0;
    margin: auto;
    width: .1rem;
    height: .1rem;
    border-top: .1rem solid #090909;
    border-right: .08rem solid transparent;
    border-left: .08rem solid transparent;
}
.market-charts {
    margin-top: .3rem;
    padding-bottom: .3rem; 
    background-color: #fff;
    text-align: center;
    font-size: .22rem;
}
.market-charts-item {
    width: 100%;
    height: 4rem;
}
/*
 * -- market && market detail page -- end --
 */

/*
 * -- second level pages -- start --
 */
.filter-title {
    padding: 0 .3rem;
    height: .88rem;
    line-height: .88rem;
    font-size: 0;
    border-bottom: 1px solid #dcdcdc;
}
.filter-title-text {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    color: #090909;
    font-size: .3rem;
    text-align: center;
    padding-right: .3rem;
}
.filter-title-text span,
.filter-title-text i {
    vertical-align: middle;
}
.filter-title-text i {
    display: inline-block;
    margin-left: .1rem;
    width: .1rem;
    height: .1rem;
    border: .1rem solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none; 
}
.filter-title-text.on {
    color: #00b38a;
}
.filter-title-text.on i {
    border-bottom: .1rem solid;
    border-top: none;
}
.filter-content-shadow {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}
.filter-content-shadow.limit {
    background-color: rgba(0, 0, 0, .1);
}
.filter-content {
    background-color: #fff;
}
.filter-item {
    position: relative;
    padding: 0 .3rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .3rem;
    border-bottom: 1px solid #dcdcdc;
}
.filter-item:last-child {
    border-bottom: none;
}
.filter-item-text {
    display: inline-block;
}
.filter-item-checkbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: .3rem;;
    margin: auto;
    width: .3rem;
    height: .3rem;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}
.filter-item.on .filter-item-checkbox {
    background-color: #00b38a;
}
.filter-reset-btn,
.filter-save-btn {
    display: inline-block;
    margin-top: 0.19rem;
    padding: 0 .3rem;
    height: .5rem;
    line-height: .5rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.filter-save-btn {
    float: right;
    color: #fff;
    background-color: #00b38a;
    border-color: #00b38a;
}
.main-content-title {
    font-size: 0;
    padding: 0 .3rem;
    border-bottom: 1px solid #dcdcdc;
}
.main-content-title-text {
    display: inline-block;
    height: .9rem;
    line-height: .9rem;
    font-size: .32rem;
    text-align: center;
    color: #090909;
}
.main-content-title .on {
    color: #00b38a;
}
.main-item-title {
    font-size: .32rem;
    line-height: .5rem;
}
.main-item-title h1 {
    height: 1rem;
    font-weight: bold;
    color: #090909;
    overflow: hidden;
}
.main-item-desc {
    margin: .1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .24rem;
    line-height: .44rem;
    color: #666;
}
.main-item-date {
    font-size: .24rem;
    line-height: .42rem;
    color: #999;
}
.main-content-select {
    white-space: nowrap;
    overflow: auto;
    font-size: 0;
    border-bottom: 1px solid #dcdcdc;
}
.main-content-select-text {
    display: inline-block;
    width: 1.7rem;
    height: .9rem;
    font-size: .32rem;
    line-height: .9rem;
    text-align: center;
    color: #090909;
}
.main-content-select-text.on {
    color: #00b38a;
}
.main-content-item-img {
    width: 100%;
    height: 2.68rem;
}
.main-content-text {
    background-color: #fff;
    padding: .3rem .3rem;
    font-size: .32rem;
    color: #090909;
}
.main-content-list .main-detail-title {
    display: inline-block;
}
.article-title,
.article-date,
.article-content {
    margin: 0 .3rem;
}
.article-title {
    font-size: .32rem;
    line-height: .9rem;
    font-weight: bold;
    color: #090909;
}
.article-date {
    font-size: .22rem;
    margin-bottom: .3rem;
    color: #999;
}
/*
 * -- second level pages -- end --
 */

/* 
 * -- chat page -- start --
 */
.chat-content-wrap {
    margin: .3rem .3rem 1rem;
    text-align: center;
}
.chat-content-friend,
.chat-content-friend .chat-author-img-wrap {
    float: left;
}
.chat-content-mine,
.chat-content-mine .chat-author-img-wrap {
    float: right;
}
.chat-author-img-wrap,
.chat-content-msg-wrap {
    display: inline-block;
    vertical-align: top;
}
.chat-author-img-wrap {
    width: .9rem;
    height: .9rem;
    overflow: hidden;
    border-radius: 50%;
}
.chat-content-msg-wrap {
    padding: .3rem 0;
}
.chat-content-msg {
    position: relative;
    max-width: 4.35rem;
    font-size: .3rem;
    text-align: left;
    padding: .2rem;
    line-height: .44rem;

    color: #090909;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.chat-content-msg:before,
.chat-content-msg:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -13px;
    width: 8px;
    height: 8px;
    color: #dcdcdc;
    border-right: 13px solid;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.chat-content-msg:after {
    left: -11px;
    border-right-color: #fff;
}
.chat-content-mine .chat-content-msg:before,
.chat-content-mine .chat-content-msg:after {
    left: auto;
    right: -13px;
    color: #dcdcdc;
    border-left: 13px solid;
    border-right: none;
}
.chat-content-mine .chat-content-msg:after {
    right: -11px;
    color: #00b38a;
}
.chat-content-friend .chat-content-msg-wrap {
    padding-left: calc(13px + .3rem);
}
.chat-content-mine .chat-content-msg-wrap {
    padding-right: calc(13px + .3rem);
}
.chat-content-mine .chat-content-msg {
    background-color: #00b38a;
}
.chat-content-date {
    display: inline-block;
    padding: .1rem .3rem;
    font-size: .26rem;
    color: #fff;
    background-color: #dcdcdc;
    border-radius: 5px;
}
.chat-send-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    color: #090909;
    border-top: 1px solid #dcdcdc;
}
.chat-send-msg {
    width: 100%;
    height: 100%;
    padding-left: .15rem;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: .3rem;
}
/* 
 * -- chat page -- end --
 */

/*
 * -- wechat pages -- start --
 */
.backend-pub-title {
    padding: 0 .3rem;
    background-color: #f1f1f4;
}
.backend-pub-text {
    height: .7rem;
    line-height: .7rem;
    color: #666;
}
.backend-pub-filter {
    float: right;
    line-height: .7rem;
    color: #00b38a;
}
.filter-limit-wrap {
    position: relative;
    float: right;
}
.filter-limit-wrap .filter-content {
    margin: .15rem .15rem 0 0;
    width: 2.4rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, .35);
}
.filter-limit-wrap:before {
    content: " ";
    display: block;
    position: absolute;
    right: .4rem;
    border-top: none;
    border-right: .15rem solid transparent;
    border-left: .15rem solid transparent;
    border-bottom: .3rem solid #fff;
}
.filter-limit-wrap .filter-item.on {
    color: #00b38a;
}
.backend-collect-item-operate {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .24rem;
}
.backend-collect-item-operate span {
    position: absolute;
    bottom: 0;
    color: #666;
}
.backend-collect-delete {
    float: right;
    border: 1px solid;
    font-size: .26rem;
    color: #00b38a;
    padding: .1rem .2rem;
}

/* 
 * -- wechat login && register -- start --
 */
.login-register-wrap {
    margin: .88rem 1rem;
}
.info-item {
    position: relative;
    padding: .34rem 0;
    font-size: 0;
}
.info-item .login-img-wrap {
    display: inline-block;
    margin-right: .3rem;
    width: .46rem;
    height: .5rem;
    text-align: right;
}
.login-img-wrap img {
    width: auto;
}
.info-item-value {    
    height: .5rem;
    vertical-align: top;
    font-size: .3rem;
    color: #090909;

    border: none;
    outline: none;
}
.login .info-item-value {
    width: calc(100% - .76rem);
}
.info-item-value + .border {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    border-bottom: 1px solid #dcdcdc;
}
.info-item-value:focus + .border {
    border-bottom-color: #00b38a;
}
.login-register-submit-wrap {
    margin: .64rem .2rem 0;
}
.login-submit {
    width: 100%;
    height: .8rem;
    background-color: #00b38a;
    font-size: .32rem;
    outline: none;
    border: none;
    border-radius: 0;
    color: #fff;
}
.login-register-reg {
    margin: 0 1rem;
    text-align: center;
}
.login-register-reg a {
    color: #00b38a;
    text-decoration: underline;
}
.info-item-title {
    display: inline-block;
    width: 1.47rem;

    font-size: .3rem;
    line-height: .5rem;
    vertical-align: top;
}
.register .info-item-value {
    width: calc(100% - 1.47rem);
}
.code {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1.5rem;
    height: .6rem;
}
/* 
 * -- wechat login && register -- end --
 */

/*
 * -- wechat pages -- end --
 */