/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='text'],
input[type='search'] {
    -webkit-appearance: none;
            appearance: none;
}
select {
    -webkit-appearance: none;
            appearance: none;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
}

/* 
 -- claer float --
 -- 清楚浮动 --
 */
.clearfix:after {
    content: " "; 
    display: block; 
    height: 0; 
    overflow: hidden;
    visibility: hidden; 
    clear: both; }
.clearfix { 
    *zoom: 1; 
}
body {
    width: 7.5rem;
    /*max-width: 1080px;*/
    margin: 0 auto;
    font-size: .28rem;
    background-color: #f9f9f9;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
    width: 100%;
    /*max-height: 100%;*/
    height: 100%;
}

.wechat-wall-wrap {
    position: relative;
    width: 100%;
    min-height: 200px;
}
.wechat-wall-img-wrap {
    width: 100%;
    height: 100%;
    font-size: 0;
}
.wechat-wall-barrage-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: .88rem;*/
    /*font-size: .28rem;*/
    background-color: rgba(9, 9, 9, .6);
}
.wechat-wall-barrage-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 62px);
}
.barrage-content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.barrage-item {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    white-space: nowrap;
}
.barrage-item-img-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}
.barrage-item-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.wechat-wall-barrage-form {
    margin: 16px 0 16px 30px;
}
.wechat-wall-barrage-form input {
    display: block;
    border: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    padding-left: 20px;
    width: calc(100% - 60px);
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #dcdcdc;
    background-color: rgba(255, 255, 255, .2);
}
.wechat-wall-operate-wrap {
    padding: .3rem;
    background-color: #fff;
    font-size: .28rem;
    color: #090909;
}
*[class^='wechat-wall-lottery'],
*[class^='wechat-wall-vote'] {
    display: inline-block;
    vertical-align: middle;
}
.wechat-wall-vote-wrap {
    margin-left: .3rem;
}
.wechat-wall-lottery-icon,
.wechat-wall-vote-icon {
    width: .42rem;
    height: .42rem;
    background: url('../imgs/icon.png') no-repeat -1rem 0;
    background-size: 1.9rem .4rem;
}
.wechat-wall-lottery-icon {
    background-position: -1.5rem 0;
}
.wechat-wall-type {
    display: inline-block;
    float: right;
    vertical-align: middle;
}
.wechat-wall-type a {
    vertical-align: middle;
    margin-left: .15rem;
    color: #090909;
}
.wechat-wall-type a:not(:last-child) {
    margin-left: 0;
}
.wechat-wall-type a.on {
    color: #68ceb7;
}
.block-wrap {
    margin-top: .3rem;
    padding-bottom: .3rem;
}
.barrage-manage {
    background-color: #fff;
    padding-bottom: 0;
}
.block-title {
    position: relative;
    padding: .3rem 0 .3rem .3rem;
    color: #68ceb7;
    font-size: .3rem;
    background-color: #fff;
}
.block-title:before {
    content: ' ';
    display: block;
    position: absolute;
    top: .3rem;
    left: 0;
    width: .15rem;
    height: 1em;
    background-color: #68ceb7;
}
.barrage-manage .block-title {
    border-bottom: 1px solid #dcdcdc;
}
.block-content {
    padding-left: .3rem;
    font-size: 0;
}
.checkbox,
.barrage-manage .block-content span {    
    display: inline-block;
    vertical-align: middle;
    margin: .3rem 0;
}
.checkbox {
    margin: .3rem;
    width: .3rem;
    height: .3rem;
    border: 1px solid #68ceb7;
    border-radius: 3px;
}
.barrage-manage .block-content {
    background-color: #fff;    
    border-bottom: 1px solid #dcdcdc;
}
.barrage-manage .block-content li {
    font-size: 0;
}
.barrage-manage .block-content li:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;
}
.barrage-manage .block-content span {
    font-size: .3rem;
}
.block-content .on .checkbox {
    background-color: #68ceb7;
}
.block-operate ul {
    float: right;
    font-size: 0;
}
.block-operate .block-operate-item {
    display: inline-block;
    vertical-align: middle;
    color: #68ceb7;
    padding: .15rem .3rem;
    border: 1px solid ;
    margin: .3rem 0;
    font-size: .3rem;
    letter-spacing: 1px;
}
.block-operate .pass {
    color: #fff;
    background-color: #68ceb7;
}
.block-operate .block-operate-item:last-child {
    margin: .3rem;
}
.card-item {
    display: inline-block;
    margin-right: .3rem;
    width: 3.3rem;
    background-color: #fff;
    margin-top: .3rem;
}
.card-item-img-wrap {
    width: 100%;
    height: 2.3rem;
}
.card-item-text {
    margin: .3rem;
    font-size: .26rem;
    text-align: center;
    color: #090909;
}
.add-img {
    position: relative;
    border: 1px solid #dcdcdc;
}
.add-img:before,
.add-img:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 1.35rem;
    height: .1rem;
    background-color: #dcdcdc;
    border-radius: 5px;
    margin: auto;
}
.add-img:after {
    width: .1rem;
    height: 1.35rem;
}

@media screen and (max-width: 960px) {
    .wechat-wall-barrage-form {
        margin: 8px 0 8px 15px;
    }
    .wechat-wall-barrage-form input {
        padding-left: 15px;
        font-size: 17px;
    }
    .wechat-wall-barrage-content {
        height: calc(100% - 46px);
    }
}

.rotate90 {
    position: fixed;
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    /*background-color: yellow !important;*/
}
.rotate0 {
    position: fixed;
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    /*background-color: #68ceb7;*/
}       